# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'windows-latest'

stages:
- stage: Build
  displayName: 'Build Stage'
  jobs:
  - job: BuildJob
    displayName: 'Build Job'
    steps:
    - script: echo Hello, world!
      displayName: 'Run a one-line script'
    - script: |
        echo 'Restoring Project dependencies...'
      displayName: 'Restore Dependencies'
    - script: |
        echo "Running unit tests..."
      displayName: 'Run unit tests'
- stage: Test
  displayName: 'Test Stage'
  dependsOn: Build
  isSkippable: false
  jobs:
  - job: TestJob
    displayName: 'Test Job'
    steps:
      - script: |
          echo "Running unit tests..."
        displayName: 'Run unit tests'
- stage: DeployToStaging
  displayName: 'Deploy to staging'
  dependsOn: Test
  jobs:
    - job: DeployStagingJob
      displayName: 'Deploy to Staging Job'
      pool:
        vmImage: 'windows:latest'
      steps:
        - script: |
            echo 'Build Staging Job'
          displayName: 'Build and deploy to staging'
    - job: DeployStagingJobWithValidation
      pool: server
      timeoutInMinutes: 4320
      displayName: 'Deploy to Staging Job'
      steps:
        - task: ManualValidation@1
          timeoutInMinutes: 1440
          inputs:
            notifyUsers: 'gethabtish@yahoo.com'
            instructions: 'Please validate the stage configuration and resume'
            onTimeout: 'resume'



