# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'windows-latest'

stages:
- stage: Build
  displayName: 'Build Stage'
  jobs:
  - job: BuildJob
    displayName: 'Build Job'
    steps:
    - script: echo Hello, world!
      displayName: 'Run a one-line script'
    - script: |
        echo 'Restoring Project dependencies...'
      displayName: 'Restore Dependencies'
    - script: |
        echo "Running unit tests..."
      displayName: 'Run unit tests'
- stage: Test
  displayName: 'Test Stage'
  dependsOn: Build
  isSkippable: false
  jobs:
  - job: TestJob
    displayName: 'Test Job'
    steps:
      - script: |
          echo "Running unit tests..."
        displayName: 'Run unit tests'
- stage: DeployToStaging
  displayName: 'Deploy to staging'
  dependsOn: Test
  jobs:
    - job: DeployStagingJob
      displayName: 'Deploy to Staging Job'
      pool:
        vmImage: 'windows-latest'
      steps:
        - script: |
            echo 'Build Staging Job'
          displayName: 'Build and deploy to staging'
    - job: DeployStagingJobWithValidation
      pool: server
      timeoutInMinutes: 4320
      displayName: 'Deploy to Staging Job'
      steps:
        - task: ManualValidation@1
          timeoutInMinutes: 1440
          inputs:
            notifyUsers: 'gethabtish@yahoo.com'
            instructions: 'Please validate the stage configuration and resume'
            onTimeout: resume
- stage: DeployToProduction
  displayName: 'Deploy to Production'
  dependsOn: DeployToStaging
  lockBehavior: sequential
  condition: and(succeeded(), in(variables['Build.SourceBranch'], 'refs/heads/main','refs/heads/release'))
  jobs:
    - job: DeployProductionJob
      displayName: 'Deploy to Production Job'
      steps:
        - script: |
            echo 'Deploying to Production...'
            # Add your deployment commands here
          displayName: 'Run deployment commands'
    - job: waitForValidation
      displayName: Wait for external validation
      pool: server
      timeoutInMinutes: 4320
      steps:
        - task: ManualValidation@1
          timeoutInMinutes: 1440
          inputs:
            notifyUsers: 'gethabtish@yahoo.com'
            instructions: 'Please validate the build configuration and resume'
            onTimeout: resume
- stage: DeployToAlternateProduction
  displayName: 'Deploye to Alternate Production'
  condition: succeeded()
  trigger: manual
  jobs:
    - job: 'DeployAlternateProductionJob'
      displayName: 'Deploy To Alternate Production Job'
      steps:
        - script: |
            echo "Deploying to alternate production..."
          displayName: 'Run deployment commands'
- stage: Rollback
  displayName: 'Rollback Stage'
  trigger: manual
  jobs:
    - job: RollbackJob
      displayName: 'Rollback Job'
      steps:
        - script: |
            echo "Rolling back the deployment..."
          displayName: 'Run rollback commands'






